<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.admin.eam">

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    /** permission **/
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECEIVER_USER_PRESENT" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.READ_LOGS" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="com.sonymobile.permission.SYSTEM_UI_VISIBILITY_EXTENSIONS"/>
    <!-- Permission for Unit Test -->
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />

    <application
        android:name="com.example.admin.eam.application.BaseApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/SampleTheme">

        <activity
            android:name="com.example.admin.eam.ui.activity.MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.example.admin.eam.ui.activity.LoginActivity"
            android:label="@string/title_activity_login"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.example.admin.eam.ui.activity.LoadActivity"
            android:label="@string/title_activity_main"
            android:screenOrientation="portrait"
            android:theme="@style/mingyang.ActivityTheme" />

        <activity
            android:name="com.example.admin.eam.ui.activity.Wfm_webview_Activity"
            android:label="@string/work_list_title"
            android:screenOrientation="portrait"
            android:theme="@style/mingyang.ActivityTheme" />
        <activity
            android:name="com.example.admin.eam.ui.activity.workorder.Work_ListActivity"
            android:label="@string/work_list_title"
            android:screenOrientation="portrait"
            android:theme="@style/mingyang.ActivityTheme" />
        <activity
            android:name="com.example.admin.eam.ui.activity.workorder.DebugWork_ListActivity"
            android:label="@string/work_list_title"
            android:screenOrientation="portrait"
            android:theme="@style/mingyang.ActivityTheme" />
        <activity
            android:name="com.example.admin.eam.ui.activity.workorder.Work_DetailsActivity"
            android:label="@string/work_detail_title"
            android:screenOrientation="portrait"
            android:theme="@style/mingyang.ActivityTheme"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name="com.example.admin.eam.ui.activity.workorder.Work_AddNewActivity"
            android:label="@string/work_detail_title"
            android:screenOrientation="portrait"
            android:theme="@style/mingyang.ActivityTheme"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name="com.example.admin.eam.ui.activity.workorder.DebugWork_DetailsActivity"
            android:label="@string/work_detail_title"
            android:screenOrientation="portrait"
            android:theme="@style/mingyang.ActivityTheme"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name="com.example.admin.eam.ui.activity.workorder.DebugWork_AddNewActivity"
            android:label="@string/work_detail_title"
            android:screenOrientation="portrait"
            android:theme="@style/mingyang.ActivityTheme"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name="com.example.admin.eam.ui.activity.workorder.DebugWork_UddebugWorkOrderLineActivity"
            android:label="@string/title_activity_uddebugworkorderlinelist"
            android:screenOrientation="portrait"
            android:theme="@style/mingyang.ActivityTheme" />
        <activity
            android:name="com.example.admin.eam.ui.activity.workorder.Work_PlanActivity"
            android:label="@string/work_plan_title"
            android:screenOrientation="portrait"
            android:theme="@style/mingyang.ActivityTheme" />
        <activity
            android:name="com.example.admin.eam.ui.activity.workorder.Work_WoactivityActivity"
            android:label="@string/title_activity_workwoactivity"
            android:screenOrientation="portrait"
            android:theme="@style/mingyang.ActivityTheme" />
        <activity
            android:name="com.example.admin.eam.ui.activity.workorder.WoactivityDetailsActivity_AA"
            android:label="@string/title_activity_woactivitydetails"
            android:screenOrientation="portrait"
            android:theme="@style/mingyang.ActivityTheme"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name="com.example.admin.eam.ui.activity.workorder.WoactivityDetailsActivity_SP"
            android:label="@string/title_activity_woactivitydetails"
            android:screenOrientation="portrait"
            android:theme="@style/mingyang.ActivityTheme"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name="com.example.admin.eam.ui.activity.workorder.WoactivityDetailsActivity_TP"
            android:label="@string/title_activity_woactivitydetails"
            android:screenOrientation="portrait"
            android:theme="@style/mingyang.ActivityTheme"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name="com.example.admin.eam.ui.activity.workorder.WoactivityDetailsActivity_WS"
            android:label="@string/title_activity_woactivitydetails"
            android:screenOrientation="portrait"
            android:theme="@style/mingyang.ActivityTheme"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name="com.example.admin.eam.ui.activity.workorder.WoactivityDetailsActivity_FR"
            android:label="@string/title_activity_woactivitydetails"
            android:screenOrientation="portrait"
            android:theme="@style/mingyang.ActivityTheme"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name="com.example.admin.eam.ui.activity.workorder.WoactivityAddNewActivity_AA"
            android:label="@string/title_activity_woactivitydetails"
            android:screenOrientation="portrait"
            android:theme="@style/mingyang.ActivityTheme"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name="com.example.admin.eam.ui.activity.workorder.WoactivityAddNewActivity_SP"
            android:label="@string/title_activity_woactivitydetails"
            android:screenOrientation="portrait"
            android:theme="@style/mingyang.ActivityTheme"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name="com.example.admin.eam.ui.activity.workorder.WoactivityAddNewActivity_TP"
            android:label="@string/title_activity_woactivitydetails"
            android:screenOrientation="portrait"
            android:theme="@style/mingyang.ActivityTheme"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name="com.example.admin.eam.ui.activity.workorder.WoactivityAddNewActivity_WS"
            android:label="@string/title_activity_woactivitydetails"
            android:screenOrientation="portrait"
            android:theme="@style/mingyang.ActivityTheme"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name="com.example.admin.eam.ui.activity.workorder.WoactivityAddNewActivity_FR"
            android:label="@string/title_activity_woactivitydetails"
            android:screenOrientation="portrait"
            android:theme="@style/mingyang.ActivityTheme"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name="com.example.admin.eam.ui.activity.workorder.Work_WpmaterialActivity"
            android:label="@string/title_activity_wpmaterial"
            android:screenOrientation="portrait"
            android:theme="@style/mingyang.ActivityTheme"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name="com.example.admin.eam.ui.activity.workorder.WpmaterialDetailsActivity"
            android:label="@string/title_activity_wpmaterialdetails"
            android:screenOrientation="portrait"
            android:theme="@style/mingyang.ActivityTheme"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name="com.example.admin.eam.ui.activity.workorder.WpmaterialAddNewActivity"
            android:label="@string/title_activity_wpmaterialdetails"
            android:screenOrientation="portrait"
            android:theme="@style/mingyang.ActivityTheme"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name="com.example.admin.eam.ui.activity.workorder.UddebugWorkOrderLineDetailsActivity"
            android:label="@string/title_activity_uddebugworkorderlinedetails"
            android:screenOrientation="portrait"
            android:theme="@style/mingyang.ActivityTheme" />
        <activity
            android:name="com.example.admin.eam.ui.activity.workorder.UddebugWorkOrderLineAddNewActivity"
            android:label="@string/title_activity_uddebugworkorderlinedetails"
            android:screenOrientation="portrait"
            android:theme="@style/mingyang.ActivityTheme" />
        <activity
            android:name="com.example.admin.eam.ui.activity.udpro.Udpro_ListActivity"
            android:label="@string/udrro_text"
            android:screenOrientation="portrait"
            android:theme="@style/mingyang.ActivityTheme" />
        <activity
            android:name="com.example.admin.eam.ui.activity.udpro.Udpro_DetailActivity"
            android:label="@string/udpro_detail_text"
            android:screenOrientation="portrait"
            android:theme="@style/mingyang.ActivityTheme" />
        <activity
            android:name="com.example.admin.eam.ui.activity.udpro.Udfandetails_ListActivity"
            android:label="@string/udfandetails_text"
            android:screenOrientation="portrait"
            android:theme="@style/mingyang.ActivityTheme" />
        <activity
            android:name="com.example.admin.eam.ui.activity.udpro.Udfandetails_DetailActivity"
            android:label="@string/udfandetails_details_title"
            android:screenOrientation="portrait"
            android:theme="@style/mingyang.ActivityTheme" />
        <activity
            android:name="com.example.admin.eam.ui.activity.UdPerson_ListActivity"
            android:label="@string/person_text"
            android:screenOrientation="portrait"
            android:theme="@style/mingyang.ActivityTheme" />
        <activity
            android:name="com.example.admin.eam.ui.activity.Ududvehicle_ListActivity"
            android:label="@string/udvehicle_text"
            android:screenOrientation="portrait"
            android:theme="@style/mingyang.ActivityTheme" />
        <activity
            android:name="com.example.admin.eam.ui.activity.udpro.Udprorunlog_listactivity"
            android:label="@string/udprorunlog_text"
            android:screenOrientation="portrait"
            android:theme="@style/mingyang.ActivityTheme" />
        <activity
            android:name="com.example.admin.eam.ui.activity.udpro.Udprorunlog_DetailActivity"
            android:label="@string/udprorunlog_detail_title"
            android:screenOrientation="portrait"
            android:theme="@style/mingyang.ActivityTheme" />
        <activity
            android:name="com.example.admin.eam.ui.activity.udpro.Udprorunlog_AddNewActivity"
            android:label="@string/udprorunlog_addnew_title"
            android:screenOrientation="portrait"
            android:theme="@style/mingyang.ActivityTheme" />
        <activity
            android:name="com.example.admin.eam.ui.activity.udpro.Udprorunlog_Line1Activity"
            android:label="@string/udprorunlog_line1_title"
            android:screenOrientation="portrait"
            android:theme="@style/mingyang.ActivityTheme" />
        <activity
            android:name="com.example.admin.eam.ui.activity.udpro.Udprorunlog_Line4Activity"
            android:label="@string/udprorunlog_line4_title"
            android:screenOrientation="portrait"
            android:theme="@style/mingyang.ActivityTheme" />
        <activity
            android:name="com.example.admin.eam.ui.activity.udpro.Udprorunlog_Line1DetailsActivity"
            android:label="@string/udprorunlog_line1_details_title"
            android:screenOrientation="portrait"
            android:theme="@style/mingyang.ActivityTheme"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name="com.example.admin.eam.ui.activity.udpro.Udprorunlog_Line4DetailsActivity"
            android:label="@string/udprorunlog_line4_details_title"
            android:screenOrientation="portrait"
            android:theme="@style/mingyang.ActivityTheme"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name="com.example.admin.eam.ui.activity.udpro.Udprorunlog_Line4AddNewActivity"
            android:label="@string/udprorunlog_line4_details_title"
            android:screenOrientation="portrait"
            android:theme="@style/mingyang.ActivityTheme"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name="com.example.admin.eam.ui.activity.udpro.Udprorunlog_Line1AddNewActivity"
            android:label="@string/udprorunlog_line1_title"
            android:screenOrientation="portrait"
            android:theme="@style/mingyang.ActivityTheme"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name="com.example.admin.eam.ui.activity.udpro.Udprorunlog_Line2Activity"
            android:label="@string/udprorunlog_line2_title"
            android:screenOrientation="portrait"
            android:theme="@style/mingyang.ActivityTheme"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name="com.example.admin.eam.ui.activity.udpro.Udprorunlog_Line2DetailsActivity"
            android:label="@string/udprorunlog_line2_details_title"
            android:screenOrientation="portrait"
            android:theme="@style/mingyang.ActivityTheme"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name="com.example.admin.eam.ui.activity.udpro.Udprorunlog_Line2AddNewActivity"
            android:label="@string/udprorunlog_line2_details_title"
            android:screenOrientation="portrait"
            android:theme="@style/mingyang.ActivityTheme"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name="com.example.admin.eam.ui.activity.udpro.Udprorunlog_Line3Activity"
            android:label="@string/udprorunlog_line3_title"
            android:screenOrientation="portrait"
            android:theme="@style/mingyang.ActivityTheme"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name="com.example.admin.eam.ui.activity.udpro.Udprorunlog_Line3DetailsActivity"
            android:label="@string/udprorunlog_line3_details_title"
            android:screenOrientation="portrait"
            android:theme="@style/mingyang.ActivityTheme"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name="com.example.admin.eam.ui.activity.udpro.Udprorunlog_Line3AddNewActivity"
            android:label="@string/udprorunlog_line3_details_title"
            android:screenOrientation="portrait"
            android:theme="@style/mingyang.ActivityTheme"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name="com.example.admin.eam.ui.activity.udpro.Udfeedback_listactivity"
            android:label="@string/udfeedback_text"
            android:screenOrientation="portrait"
            android:theme="@style/mingyang.ActivityTheme"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name="com.example.admin.eam.ui.activity.udpro.Udfeedback_DetailActivity"
            android:label="@string/udfeedback_text"
            android:screenOrientation="portrait"
            android:theme="@style/mingyang.ActivityTheme"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name="com.example.admin.eam.ui.activity.udpro.Udfeedback_AddNewActivity"
            android:label="@string/udfeedback_text"
            android:screenOrientation="portrait"
            android:theme="@style/mingyang.ActivityTheme"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name="com.example.admin.eam.ui.activity.Udstock_DetailActivity"
            android:label="@string/udstock_detail_text"
            android:screenOrientation="portrait"
            android:theme="@style/mingyang.ActivityTheme"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name="com.example.admin.eam.ui.activity.Udstockline_DetailActivity"
            android:label="@string/udstockline_text"
            android:screenOrientation="portrait"
            android:theme="@style/mingyang.ActivityTheme"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name="com.example.admin.eam.ui.activity.UdstocklineListActivity"
            android:label="@string/udstocklinelist_text"
            android:screenOrientation="portrait"
            android:theme="@style/mingyang.ActivityTheme"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name="com.example.admin.eam.ui.activity.Udreport_ListActivity"
            android:label="@string/udreport_text"
            android:screenOrientation="portrait"
            android:theme="@style/mingyang.ActivityTheme"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name="com.example.admin.eam.ui.activity.Udreport_DetailActivity"
            android:label="@string/udreport_detail_text"
            android:screenOrientation="portrait"
            android:theme="@style/mingyang.ActivityTheme"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name="com.example.admin.eam.ui.activity.Udreport_AddNewActivity"
            android:label="@string/udreport_detail_text"
            android:screenOrientation="portrait"
            android:theme="@style/mingyang.ActivityTheme"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name="com.example.admin.eam.ui.activity.Udinspo_ListActivity"
            android:label="@string/udinspo_text"
            android:screenOrientation="portrait"
            android:theme="@style/mingyang.ActivityTheme"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name="com.example.admin.eam.ui.activity.Udinspo_DetailActivity"
            android:label="@string/udinspo_detail_text"
            android:screenOrientation="portrait"
            android:theme="@style/mingyang.ActivityTheme"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name="com.example.admin.eam.ui.activity.Udinsproject_ListActivity"
            android:label="@string/udinsproject_text"
            android:screenOrientation="portrait"
            android:theme="@style/mingyang.ActivityTheme"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name="com.example.admin.eam.ui.activity.Udinsproject_DetailActivity"
            android:label="@string/udinsproject_details_text"
            android:screenOrientation="portrait"
            android:theme="@style/mingyang.ActivityTheme"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name="com.example.admin.eam.ui.activity.Udrunlogr_ListActivity"
            android:label="@string/udrunlogr_text"
            android:screenOrientation="portrait"
            android:theme="@style/mingyang.ActivityTheme"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name="com.example.admin.eam.ui.activity.Udrunlogr_DetailActivity"
            android:label="@string/udrunlogr_detail_title"
            android:screenOrientation="portrait"
            android:theme="@style/mingyang.ActivityTheme"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name="com.example.admin.eam.ui.activity.Udrunlogr_AddNewActivity"
            android:label="@string/udrunlogr_detail_title"
            android:screenOrientation="portrait"
            android:theme="@style/mingyang.ActivityTheme"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name="com.example.admin.eam.ui.activity.UdrunlinerListActivity"
            android:label="@string/udrunliner_list"
            android:screenOrientation="portrait"
            android:theme="@style/mingyang.ActivityTheme"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name="com.example.admin.eam.ui.activity.UdrunlinerDetailsActivity"
            android:label="@string/udrunliner_details"
            android:screenOrientation="portrait"
            android:theme="@style/mingyang.ActivityTheme"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name="com.example.admin.eam.ui.activity.UdrunlinerAddNewActivity"
            android:label="@string/udrunliner_details"
            android:screenOrientation="portrait"
            android:theme="@style/mingyang.ActivityTheme"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name="com.example.admin.eam.ui.activity.Udcardrivelog_Listactivity"
            android:label="@string/udcardrivelog_text"
            android:screenOrientation="portrait"
            android:theme="@style/mingyang.ActivityTheme"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name="com.example.admin.eam.ui.activity.UdstockActivity"
            android:label="库存盘点"
            android:screenOrientation="portrait"
            android:theme="@style/mingyang.ActivityTheme"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name="com.example.admin.eam.ui.activity.Udcardrivelog_Detailactivity"
            android:label="@string/udcarddrivelog_details_text"
            android:screenOrientation="portrait"
            android:theme="@style/mingyang.ActivityTheme"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name="com.example.admin.eam.ui.activity.Udcardrivelog_Addactivity"
            android:label="@string/xcjlxj_text"
            android:screenOrientation="portrait"
            android:theme="@style/mingyang.ActivityTheme"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name="com.example.admin.eam.ui.activity.Udcarfuelcharge_Listactivity"
            android:label="@string/udcarfuelcharge_text"
            android:screenOrientation="portrait"
            android:theme="@style/mingyang.ActivityTheme"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name="com.example.admin.eam.ui.activity.Udcarfuelcharge_Addactivity"
            android:label="@string/udcarfuelcharge_text"
            android:screenOrientation="portrait"
            android:theme="@style/mingyang.ActivityTheme"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name="com.example.admin.eam.ui.activity.Udcarfuelcharge_Detailactivity"
            android:label="@string/udcarfuelcharge_detail_text"
            android:screenOrientation="portrait"
            android:theme="@style/mingyang.ActivityTheme"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name="com.example.admin.eam.ui.activity.Udcarmainlog_Listactivity"
            android:label="@string/udcarmainlog_text"
            android:screenOrientation="portrait"
            android:theme="@style/mingyang.ActivityTheme"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name="com.example.admin.eam.ui.activity.Udcarmainlog_Detailactivity"
            android:label="@string/wxjlxq_text"
            android:screenOrientation="portrait"
            android:theme="@style/mingyang.ActivityTheme"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name="com.example.admin.eam.ui.activity.Udcarmainlog_Addactivity"
            android:label="@string/wxjlxq_text"
            android:screenOrientation="portrait"
            android:theme="@style/mingyang.ActivityTheme"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name="com.example.admin.eam.ui.activity.Wfm_Details_Activity"
            android:label="@string/wfm_detail_title"
            android:screenOrientation="portrait"
            android:theme="@style/mingyang.ActivityTheme"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name="com.example.admin.eam.ui.activity.OptionActivity"
            android:label="@string/title_activity_option"
            android:screenOrientation="portrait"
            android:theme="@style/mingyang.ActivityTheme"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name="com.example.admin.eam.ui.activity.PhotoActivity"
            android:label="@string/title_activity_photo"
            android:screenOrientation="portrait"
            android:theme="@style/mingyang.ActivityTheme"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name="com.example.admin.eam.ui.activity.WxDemoActivity"
            android:label="@string/title_activity_photo"
            android:screenOrientation="portrait"
            android:theme="@style/mingyang.ActivityTheme"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name="com.lzy.imagepicker.ui.ImagePreviewDelActivity"
            android:screenOrientation="portrait"
            android:theme="@style/ImagePickerThemeFullScreen"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name="com.example.admin.eam.ui.activity.Failurelist1Activity"
            android:label="@string/title_activity_failurelist1"
            android:screenOrientation="portrait"
            android:theme="@style/mingyang.ActivityTheme"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name="com.example.admin.eam.ui.activity.Failurelist2Activity"
            android:label="@string/title_activity_failurelist1"
            android:screenOrientation="portrait"
            android:theme="@style/mingyang.ActivityTheme"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name="com.example.admin.eam.ui.activity.TriprePort_listActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name="com.example.admin.eam.ui.activity.TriprePort_addNewActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name="com.example.admin.eam.ui.activity.TriprePort_DetailActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name="com.example.admin.eam.ui.activity.PermissionsActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <!-- 百度自动更新设置 -->
        <meta-data
            android:name="BDAPPID"
            android:value="8437947" />
        <meta-data
            android:name="BDAPPKEY"
            android:value="UT3mZKEpcZdTQvgW4qT6WTFqWG20ZDNj" />

        <activity
            android:name="com.baidu.autoupdatesdk.ConfirmDialoigActivity"
            android:exported="false"
            android:screenOrientation="sensor"
            android:theme="@style/bdp_update_dialog_style_fullscreen" />

        <receiver
            android:name="com.baidu.autoupdatesdk.receiver.BDBroadcastReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="com.baidu.autoupdatesdk.ACTION_NEW_UPDATE" />
                <action android:name="com.baidu.autoupdatesdk.ACTION_DOWNLOAD_COMPLETE" />
                <action android:name="com.baidu.autoupdatesdk.ACTION_NEW_AS" />
                <action android:name="com.baidu.autoupdatesdk.ACTION_AS_DOWNLOAD_COMPLETE" />
            </intent-filter>
        </receiver>

        <activity android:name="com.example.admin.eam.ui.activity.stockQuery.StockQuery_listActivity" />
        <activity
            android:name="com.example.admin.eam.ui.activity.stockQuery.ConditionActivity"
            android:label="@string/title_activity_condition"
            android:theme="@style/SampleTheme">

        </activity>
    </application>

</manifest>